.side_bar {
  height: 90vh;
  background: aliceblue;
}

.main_content {
  height: 90vh;
  background: aqua;
}

.strike {
  text-decoration: line-through;
}

.inline-form {
  display: inline;
}

.done {
  background-color: #45B649;
}

.todo {
  background-color: #FFC371;
}

.in-progress {
  background-color: #d7d2cc;
}

form.new {
  max-width: 300px;
  margin: auto;
}

a:hover {
  text-decoration: none;
}