
.strike {
  text-decoration: line-through;
}

.inline-form {
  display: inline;
}

.done {
  background-color: #45B649;
}

.todo {
  background-color: #FFC371;
}

.in-progress {
  background-color: #d7d2cc;
}

form.new {
  max-width: 300px;
  margin: auto;
}

.item {
  margin: 5px;
  border-radius: 3%;
}

.item h4 {
  text-align: center;
}

a:hover {
  text-decoration: none;
}