<%- include ("partials/header.ejs") %>
<div class="container" id="timer_container">
    <button class="form-control btn btn-primary" id="start_timer">Start</button>
    <select class="form-control" name="timer_duration" id="duration">
        <option value="10">10 sec</option>
        <option value="300">5 min</option>
        <option value="900">15 min</option>
        <option value="2700">45 min</option>
    </select>
    <div id="app"></div>
</div>
<%- include ("partials/footer.ejs") %>
